@import '/src/global-styles/vars';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 52px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  color: #293133;
}

a {
  text-decoration: none;
  color: #005c95;
}

body {
  font-family: $font-stack;
  margin: 0;
  background-color: #f1f1f1;
}

header {
  h1 {
    text-align: center;
    font-size: 52px;
    line-height: 1.35;
    letter-spacing: -0.02em;

    .title-link {
      @media screen and (max-width: 580px) {
        font-size: 30px;
        font-weight: normal;
      }
    }
    a {
      color: #000;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    }
  }

  nav {
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
      li {
        display: inline-block;
        a:hover {
          color: darken($text-color, 80);
        }
      }
    }
  }
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #666;
}

.componentWrapper {
  flex: 1;
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 4px 4px 10px 0px #aaaaaa;
  padding: 10px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

nav {
  text-align: center;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      a:hover {
        color: darken($text-color, 80);
      }
    }
  }
}

ul {
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  display: block;
  position: relative;
  text-align: center;
  padding: 2em 0;
}

.statsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}
