{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true
  },
  "plugins": ["@typescript-eslint", "simple-import-sort", "react-hooks"],
  "root": true,
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/naming-convention": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "no-console": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Side effect imports
          ["^\\u0000"],
          // React imports
          ["^react$", "^react-dom$"],
          // Packages
          // Imports starting with aletter, digit, underscore, or an @ followed by a letter
          ["^@?\\w"],
          // Absolute imports and other imports
          // Imports not starting with a dot
          ["^[^.]"],
          // Relative parent imports
          ["^\\.\\."],
          // Relative sibling imports
          ["^\\."]
        ]
      }
    ],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "settings": {
    "react": {
      "version": "17.0"
    }
  }
}
