.macAddressesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saveButton {
  margin-top: 20px;
  width: 200px;
  height: 2rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 2px 1px -2px rgba(0,0,0,0.1),0 1px 5px 0 rgba(0,0,0,0.1);

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: none;
    cursor: default;
  }
}

.macTextField {
  all: unset;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: left;
  padding: 2px 5px;
  background-color: white;
}

.changedCell {
  color: red;
  min-width: 8px;
}

.iconButton {
  cursor: pointer;
  background-color: inherit;
  border: none;
  border-radius: 50%;
  padding: 8px;
  width: 2rem;
  height: 2rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.helpText {
  margin-top: 1em
}

.statusColumn {
}

.statusIndicator {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
}

.activeInHub {
  background-color: #00FF00;
}
.inactiveInHub {
  background-color: inherit;
}