@import 'src/global-styles/vars';

.activeSmurfsWrapper {
  padding: 28px 0;
  margin: 0 0 1em;
  color: #666;
  display: flex;
  justify-content: center;
  min-width: 55%;

  @media (max-width: 810px) {
    width: 100%;
  }
}

tr .userRow {
  text-align: left;
}

tr .statusRow {
  text-align: center;
}

.activeSmurfsTable {
  min-width: 400px;
  width: 90%;
  margin-top: 12px;
}

td .timeCell {
  text-align: right;
}

