.footer {
    height: 56px;
}

.divider {
    height: 1px;
    background: 1px rgba(0, 0, 0, 0.15);
}

.footerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}