.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-bottom: 14px;
}

.currentText {
  font-weight: bold;
  margin: 0 10px;
}